<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改用户信息')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="gray-bg">
<div class="main-content">
    <form id="form-portalUser-add" class="form-horizontal" th:object="${portalUser}">
        <input id="userId" name="userId" th:field="*{userId}" type="hidden">
        <h4 class="form-header h4">用户信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">用户名称：</label>
                    <div class="col-sm-8">
                        <input name="userName" th:field="*{userName}" placeholder="请输入用户名称" class="form-control" type="text" maxlength="30">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">用户性别：</label>
                    <div class="col-sm-8">
                        <select name="sex" class="form-control" th:with="type=${@dict.getType('sys_user_sex')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{sex}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">手机号码：</label>
                    <div class="col-sm-8">
                        <input id="phonenumber" th:field="*{phonenumber}" name="phonenumber" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">政治面貌：</label>
                    <div class="col-sm-8">
                        <select name="politicalOutlook" class="form-control m-b" th:with="type=${@dict.getType('political_outlook')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{politicalOutlook}" ></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">身份证号：</label>
                    <div class="col-sm-8">
                        <input id="idCard" th:field="*{idCard}" name="idCard" placeholder="请输入身份证号" class="form-control" type="text" maxlength="18">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">用户生日：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input  name="birthday" type="hidden"  th:value="${#dates.format(portalUser.birthday, 'yyyy-MM-dd')}" >
                            <input disabled   name="birthday"  th:value="${#dates.format(portalUser.birthday, 'yyyy-MM-dd')}"  class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">用户邮箱：</label>
                    <div class="col-sm-8">
                        <input id="email"  th:field="*{email}" name="email" placeholder="请输入用户邮箱" class="form-control" type="text"  >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">用户状态：</label>
                    <div class="col-sm-8">
                        <div class="radio-box" th:each="dict : ${@dict.getType('data_status')}">
                            <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" th:field="*{status}" >
                            <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">头像路径：</label>
                    <div class="col-xs-10">
                        <input type="hidden" th:field="*{avatar}" name="avatar">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="avatar" name="file" type="file" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">自我简介：</label>
                    <div class="col-xs-10">
                        <textarea name="remark" maxlength="500" class="form-control" rows="3">[[*{intro}]]</textarea>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="form-header h4">家庭成员</h4>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i></button>
                <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>

        <h4 class="form-header h4 ">教育经历</h4>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-white btn-sm" onclick="addColumn2()"><i class="fa fa-plus"> 增加</i></button>
                <button type="button" class="btn btn-white btn-sm" onclick="delColumn2()"><i class="fa fa-minus"> 删除</i></button>

                <div  style="padding-top: 20px"  class="col-sm-12 select-table table-striped" id="education-table">

                </div>
            </div>
        </div>

    </form>
</div>

<!--<div class="row">-->
<!--    <div class="col-sm-offset-5 col-sm-10">-->
<!--        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;-->
<!--        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>-->
<!--    </div>-->
<!--</div>-->
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:src="@{/js/jquery.tmpl.js}"></script>
<script th:inline="javascript">
    var index = 0;
    var htmlArry = [];
    var prefix = ctx + "system/portalUser";
    var prefixFam = ctx + "system/portalUserFamily";
    var prefixEdu= ctx + "system/portalUserEdue";
    var icon = "<i class='fa fa-times-circle'></i> ";

    //电话
    $.validator.addMethod("isPhone", function(value, element) {
        var length = value.length;
        var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "请填写正确的手机号码");

    //电话
    $.validator.addMethod("isPhone", function(value, element) {
        var length = value.length;
        var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "请填写正确的手机号码");
    //身份证
    $.validator.addMethod("isCard", function(value, element) {

        var length = value.length;
        var isCard = /^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/;
        var flag = this.optional(element) || (length == 18 && isCard.test(value));
        if(flag){
            var birthday = value.substring(6,10)+"-"+value.substring(10,12)+"-"+value.substring(12,14);
            $("input[name='birthday']").val(birthday);
        }
        return flag;
    }, "请填写正确的身份证号码");

    $("#form-portalUser-add").validate({
        focusCleanup: true,
        rules: {
            userName: {
                required: true,
                minlength: 2
            },
            email: {
                required: true,
                email: true
            },
            phonenumber:{
                required: true,
                isPhone:true

            },
            idCard:{
                required: true,
                isCard:true
            }
        },
        messages: {
            username: {
                required: icon + "请输入您的用户名",
                minlength: icon + "用户名必须两个字符以上"
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-portalUser-add').serializeArray());
        }
    }


    $(function() {
        var options = {
            url: prefixFam + "/list",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            columns: [{
                checkbox: true
            },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                        var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                        return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'fRelationship',
                    align: 'center',
                    title: '与本人关系',
                    formatter: function(value, row, index) {
                        var data = [{ index: index, fRelationship: value }];
                        return $("#portalUserFamilyFRTpl").tmpl(data).html();
                    }
                },
                {
                    field: 'fName',
                    align: 'center',
                    title: '姓名',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='portalUserFamily[%s].fName' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'fPhone',
                    align: 'center',
                    title: '手机号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='portalUserFamily[%s].fPhone' value='%s' >", index, value);
                        return html;
                    }
                },
                {
                    field: 'fWorkUnit',
                    align: 'center',
                    title: '工作单位',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='portalUserFamily[%s].fWorkUnit' value='%s'>", index, value);
                        return html;
                    }
                }
            ]
        };

        $.table.init(options);
        var params ={};
        params.userId =$('#userId').val();
        $.table.queryParams(params);

        //初始化教育经历表
        $.ajax({
            url:prefixEdu+'/list',
            method:"POST",
            data:{
                userId:$("#userId").val()
            },
            success:function (res) {
              //初始化
                var dataArry =res.rows;
                if(dataArry!=null&&dataArry.length>0){
                    for(var i = 0;i<dataArry.length;i++){

                        var htmlitem = "<div id='row"+index+"' class='row' style='0 auto' >";
                        htmlitem+=" <label class='col-xs-1 control-label' >"+Number(index+1)+"</label>";
                        htmlitem+="<div class='col-xs-2 form-group' style='margin-right: 5px;'><input class='form-control date' type='text' name='portalUserEdue["+index+"].eStartTime'placeholder='开始时间'  value='"+dataArry[i].eStartTime+"'></div>";
                        htmlitem+="<div class='col-xs-2 form-group' style='margin-right: 5px;'><input class='form-control date' type='text' name='portalUserEdue["+index+"].eEndTime'placeholder='结束时间' value='"+dataArry[i].eEndTime+"'></div>";
                        htmlitem+="<div class='col-xs-4 form-group' style='margin-right: 5px;'><input class='form-control ' type='text' name='portalUserEdue["+index+"].eSchool'placeholder='学校名称' value='"+dataArry[i].eSchool+"'></div>";
                        htmlitem+="<div class='col-xs-3 form-group' style='margin-right: 5px;'><input class='form-control' type='text' name='portalUserEdue["+index+"].ePost' placeholder='担任职务' value='"+dataArry[i].ePost+"'></div>";
                        htmlitem+="</div>"
                        index++;
                        htmlArry.push(htmlitem);
                        $("#education-table").append(htmlitem);
                        $(".date").datetimepicker({
                            format: "yyyy-mm-dd",
                            minView: "month",
                            autoclose: true,
                            pickerPosition:'top-right'
                        });
                    }
                }

            }
        })
    });


    $("input[name='birthday']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });


    function addColumn() {
        var count = $("#" + table.options.id).bootstrapTable('getData').length;
        if(count>4){
            $.modal.alertWarning("最多添加5条哦");
            return
        }

        sub.editColumn();

        $("#" + table.options.id).bootstrapTable('insertRow', {
            index: count,
            row: {
                index: $.table.serialNumber(count),
                fRelationship: "",
                fName: "",
                fPhone: "",
                fWorkUnit: "",
            }
        });
    }

    function addColumn2() {


        var htmlitem = "<div id='row"+index+"' class='row' style='0 auto' >";
        htmlitem+=" <label class='col-xs-1 control-label' >"+Number(index+1)+"</label>";
        htmlitem+="<div class='col-xs-2 form-group' style='margin-right: 5px;'><input class='form-control date' type='text' name='portalUserEdue["+index+"].eStartTime'placeholder='开始时间'  value=''></div>";
        htmlitem+="<div class='col-xs-2 form-group' style='margin-right: 5px;'><input class='form-control date' type='text' name='portalUserEdue["+index+"].eEndTime'placeholder='结束时间' value=''></div>";
        htmlitem+="<div class='col-xs-4 form-group' style='margin-right: 5px;'><input class='form-control ' type='text' name='portalUserEdue["+index+"].eSchool'placeholder='学校名称' value=''></div>";
        htmlitem+="<div class='col-xs-3 form-group' style='margin-right: 5px;'><input class='form-control' type='text' name='portalUserEdue["+index+"].ePost' placeholder='担任职务' value=''></div>";
        htmlitem+="</div>"

        htmlArry.push(htmlitem);
        $("#education-table").append(htmlitem);
        index++;
        $(".date").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            pickerPosition:'top-right'
        });
    }
    function delColumn2(){
        $('#row'+index).remove();
        if(index==0)
            return;
        htmlArry.pop(index);index--;

        // var html = "";
        // for(var i = 0;i<htmlArry.length;i++){
        //     html+=htmlArry[i]
        //
        // }
        // $("#education-table").html(html);
        //     $(".date").datetimepicker({
        //         format: "yyyy-mm-dd",
        //         minView: "month",
        //         autoclose: true,
        //         pickerPosition:'top-right'
        //     });

    }

    //
    // $("#bootstrap-table").on("post-body.bs.table", function (e, args) {
    //     $("input[name$='date']").datetimepicker({
    //         format: "yyyy-mm-dd",
    //         minView: "month",
    //         autoclose: true,
    //         pickerPosition:'top-right'
    //     });
    // });

    $(".file-upload").each(function (i) {
        var val = $("input[name='" + this.id + "']").val()
        $(this).fileinput({
            'uploadUrl': '/common/upload',
            initialPreviewAsData: true,
            initialPreview: [val],
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        $(this).fileinput('_initFileActions');
    });
</script>
</body>
</html>

<!-- 商品类型 -->
<script id="portalUserFamilyFRTpl" type="text/x-jquery-tmpl">
<div>
<select class='form-control' name='portalUserFamily[${index}].fRelationship'>
    <option value="1" {{if fRelationship==="1"}}selected{{/if}}>父亲</option>
    <option value="2" {{if fRelationship==="2"}}selected{{/if}}>母亲</option>
    <option value="3" {{if fRelationship==="3"}}selected{{/if}}>爷爷</option>
    <option value="4" {{if fRelationship==="4"}}selected{{/if}}>奶奶</option>
    <option value="5" {{if fRelationship==="5"}}selected{{/if}}>兄弟</option>
    <option value="6" {{if fRelationship==="6"}}selected{{/if}}>姐妹</option>
</select>
</div>
</script>
